@import 'reset copy';

body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    opacity:.79;
}

// Landing Page
header {
    background-image: url('images/whiterose.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height:100vh;
    width:100vw;
    .navbar {
        display:none;
    }
    .defaultnav {
        background-color: black;
        opacity: .65;
        width:100vw;
        height: 8vh;
        text-align: center;
        ul {
            list-style:none;
            padding: 1.2em 0;
            vertical-align: middle;
        }
        li {
            display: inline-block;
            margin: 0 2em;
        } 
        a {
            display: block;
            text-decoration: none;
            color: white;
            opacity: .7;
            font-size: 1.2em;
            text-transform: lowercase;
        }
        a:hover {
            text-decoration:none;
            border-bottom: .1em solid white;
            color:white;
            opacity:1;
        }
    }   
    .name {
        opacity: .7;
        color:white;
        margin: 10.4em 0 0 1em;
        h1 {
            text-transform:uppercase;
            font-weight: 800;
            font-size:5em;
        }
        h2 {
            font-size: 2em;
            text-transform:lowercase;
        }
    }
    .sticky {
        position:fixed;
        top:0;
        width:100vw;
        height:8vh;
        opacity: .7;
        z-index:6;
    }
    .sticky-name {
        margin:0;
        position:absolute;
        top: 14em;//297.75px;
        left:1em;
    }
}

// About Page
#about {
    background-image: url('images/susan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    .self-summary {
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom:4em;
        img {
            width:25vw;
            height:100%;
            margin:.5em;
        }
        p {
        text-align:center;
        color:white;
        background-color:black;
        opacity:.8;
        text-transform: lowercase;
        font-size: 2.5em;
        line-height:1.2em;
        width:50vw;
        margin:.5em;
        } 
    } 
    h1 {
        background-color:black;
        color:rgb(250, 212, 72);
        text-transform: uppercase;
        text-align:center;
        font-weight: 800;
        font-size: 4.3em;
        opacity: .8;
        padding:0;
    }
}
// Portfolio Page
#portfolio {
    background-image: url('images/rose.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    h1 {
        font-size: 5em;
        text-transform: uppercase;
        text-align:center;
        font-weight:800;
        color:white;
        opacity: .6;
        margin-bottom:4em;
    }
    #carouselExampleIndicators {
        width:40vw;
        margin-top:0;
        margin-bottom: 5em;
    }    
}
// Testimonials Page
#testimonials {
    background-image: url('images/aspen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    width:100vw;
    height:100vh;
    color:white;
    text-align:center;
    opacity: .7;
    h1 {
        font-size: 5em;
        text-transform: uppercase;
        font-weight:800;
        padding: 1em 0;
    }
    #quotes {
        color:white;
        font-weight:800;
        font-size: 2.5em;
        margin-left:4em;
        margin-right:4em;
        }
        p {
            line-height:1.1em;
            margin-bottom:2em;
        }
}
// Contact Page
#contact {
    background-image: url('images/cactus.jpg');
    background-size: contain;
    background-position:center;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        margin: .5em 0 0 0;
        font-size: 5em;
        text-transform: uppercase;
        color:white;
        font-weight:800;
        opacity: .87;
    }
    form {
        display:flex;
        flex-direction: column;
        align-items: center;
        .container {
            display:flex;
            align-items: center;
            margin: 2em 0 1em 0;
        }
        #map {
            height:25vh;
            width: 25vw;
        }
        .wrapper {
            display: flex;
            height:25vh;
            width:25vw;
            flex-direction:column; 
            justify-content: space-around;
            align-items: flex-start;
            margin:0;
            div {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }
        input {
            height: 5vh;
            width: 24vw;
            margin: 0 0 0em 1em;
            border-radius:.4em;
            border:none;
        }
        input::placeholder {
            color:grey;
            opacity:.7;
            padding: 0 0 0 1em;
        }
        textarea {
            width:50vw;
            height:30vh;
            border-radius:.4em;
            border:none;
        }
        textarea::placeholder {
            color:grey;
            opacity:.7;
            padding: .3em 0 0 1em;
        }
        button {
            width:50vw;
            height:2.5em;
            font-family:Helvetica;
            color:black;
            font-weight: 800;
            opacity: .68;
            margin: 1em 0 0em 0;
            border-radius:.4em;
            font-size: 1.1em;
            text-transform: uppercase;
        }
        .error-message {
            display: none;
            text-align:center;
            font-size:.8em;
            color:red;
            background-color:white;
            opacity: .75;
            font-weight:400;
            margin: .2em 0 .4em 1em;
            padding:.2em .4em;;
            text-transform:lowercase;
            border-radius:.4em;
        }
        .error {
            border: .15em solid red;
        }
    }  
}
// Footer
footer {
    height:8vh;
    width:100vw;
    text-align:center;
    background-color:black;
    opacity:.7;
    .fab{
        color:grey;
    }
    .fab:hover {
        color:white;
    }
    i {
        display: inline-block;
        margin:.5em .3em .3em .3em;
    }
}

/// MEDIA QUERIES
@media screen and (max-width:710px) {
    header {
        .name {
        color:orange;
        opacity:1;
        }
    }
    #about {
        .self-summary{
            p{
                font-size:1.5em;
            }
            img{
                width:45vw;
            }
        }
        h1 {
            font-size:2.8em;
        }
    }
    #portfolio {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            margin:0 0 1em 0;
        }
        #carouselExampleIndicators {
            width:80vw;
            margin:0;
        }
    }
    #testimonials {
        h1 {
            margin-top:.5em;
            color:white;
        }
        #quotes {
            font-size:1.5em;
            margin: 0 1em;
            color:white;
        }
    }
    #contact {
        h1{
            background-color:red;
            opacity:.6;
        }
        form {
            #map {
                display:none;
            }
            .wrapper {
                width:50vw;
            }
            input {
                width:50vw;
                margin:0;
            }  
        }
    }
}

@media screen and (max-width: 400px) {
    header {
        .navbar {
            display:flex;
            justify-content: flex-end;
            .fa-1x {
                font-size: 1.5rem;
            }
            .navbar-toggler.toggler-example {
                cursor: pointer;
            }
            .dark-blue-text {
                color: white;
            }
            a:hover {
                //border-bottom: .1em solid white;
                color:white;
                font-weight: 800;
            }
            .nav-item a {
                color:white;
                display:flex;
                justify-content: flex-end;
            }
        }
        .defaultnav {
            display:none;
        }
        .name {
            margin-right:0;
            margin-left:1em;
            margin-top: 13.5em;
            font-size: .8em;
            position:absolute;
            opacity:.8;
            color:white;
        }
        .sticky {
            position:fixed;
            top:0;
            opacity: .9;
            z-index:6;
        }
        .sticky-name {
            margin:0;
            position:absolute;
            top: 14em;//297.75px;
            left:1em;
        }
    }
    #about {
        .self-summary {
            display:flex;
            flex-direction: column;
            margin:2em 0 0 0;
            p {
                font-size:1.4em;
                width:80vw;
                margin-bottom:2em;
            }
        }   
        h1 {
            font-size: 2em;
        }
    }
    #portfolio {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        h1 {
            font-size:4em;
            margin-top:1em;
            opacity:1;  
        }
        #carouselExampleIndicators {
            width:80vw;
        }
    }
    #testimonials {
        h1 {
            padding-top:3.4em;
            padding-bottom:.5em;
            font-size:3em;  
        }
        p {
        }
    }
    #contact {
        background-size: cover;
        background-repeat: no-repeat;
        h1 {
            color:lightcyan;
            font-size: 3em;  
        }
        form {
            .container {
                display:flex;
                align-items: center;
                margin: 0 0 0 0;
            }
            input {
                width:70vw;
            } 
            .wrapper {
                width:70vw;
            }
            .error-message {
                margin: .3em 0 0 1.4em;
                width:60vw;
            }
            textarea {
                height:25vh;
                width:70vw;
            }
        }
    }
}

