/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  opacity: 0.79;
}

header {
  background-image: url("images/whiterose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
header .navbar {
  display: none;
}
header .defaultnav {
  background-color: black;
  opacity: 0.65;
  width: 100vw;
  height: 8vh;
  text-align: center;
}
header .defaultnav ul {
  list-style: none;
  padding: 1.2em 0;
  vertical-align: middle;
}
header .defaultnav li {
  display: inline-block;
  margin: 0 2em;
}
header .defaultnav a {
  display: block;
  text-decoration: none;
  color: white;
  opacity: 0.7;
  font-size: 1.2em;
  text-transform: lowercase;
}
header .defaultnav a:hover {
  text-decoration: none;
  border-bottom: 0.1em solid white;
  color: white;
  opacity: 1;
}
header .name {
  opacity: 0.7;
  color: white;
  margin: 10.4em 0 0 1em;
}
header .name h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 5em;
}
header .name h2 {
  font-size: 2em;
  text-transform: lowercase;
}
header .sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 8vh;
  opacity: 0.7;
  z-index: 6;
}
header .sticky-name {
  margin: 0;
  position: absolute;
  top: 14em;
  left: 1em;
}

#about {
  background-image: url("images/susan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  text-transform: lowercase;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 2em;
  font-size: 2em;
}
#about h1 {
  color: #fad448;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 4em;
  opacity: 0.8;
}

#portfolio {
  background-image: url("images/rose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#portfolio h1 {
  padding: 0.5em 0 0 0;
  font-size: 5em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  color: white;
  opacity: 0.4;
}
#portfolio #carouselExampleIndicators {
  width: 40vw;
  margin: 2em 0 0 0;
}

#testimonials {
  background-image: url("images/aspen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#testimonials h1 {
  padding: 0.5em 0 0 0;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 800;
}
#testimonials #quotes {
  color: black;
  font-size: 3em;
}

#contact {
  background-image: url("images/cactus.jpg");
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact h1 {
  margin: 0.5em 0 0 0;
  font-size: 5em;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  opacity: 0.87;
}
#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact form .container {
  display: flex;
  align-items: center;
  margin: 2em 0 1em 0;
}
#contact form #map {
  height: 25vh;
  width: 25vw;
}
#contact form .wrapper {
  display: flex;
  height: 25vh;
  width: 25vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0;
}
#contact form .wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#contact form input {
  height: 5vh;
  width: 24vw;
  margin: 0 0 0em 1em;
  border-radius: 0.4em;
  border: none;
}
#contact form input::placeholder {
  color: grey;
  opacity: 0.7;
  padding: 0 0 0 1em;
}
#contact form textarea {
  width: 50vw;
  height: 30vh;
  border-radius: 0.4em;
  border: none;
}
#contact form textarea::placeholder {
  color: grey;
  opacity: 0.7;
  padding: 0.3em 0 0 1em;
}
#contact form button {
  width: 50vw;
  height: 2.5em;
  font-family: Helvetica;
  color: black;
  font-weight: 800;
  opacity: 0.68;
  margin: 1em 0 0em 0;
  border-radius: 0.4em;
  font-size: 1.1em;
  text-transform: uppercase;
}
#contact form .error-message {
  display: none;
  text-align: center;
  font-size: 0.8em;
  color: red;
  background-color: white;
  opacity: 0.75;
  font-weight: 400;
  margin: 0.2em 0 0.4em 1em;
  padding: 0.2em 0.4em;
  text-transform: lowercase;
  border-radius: 0.4em;
}
#contact form .error {
  border: 0.15em solid red;
}

footer {
  height: 8vh;
  width: 100vw;
  text-align: center;
  background-color: black;
  opacity: 0.7;
}
footer .fab {
  color: grey;
}
footer .fab:hover {
  color: white;
}
footer i {
  display: inline-block;
  margin: 0.5em 0.3em 0.3em 0.3em;
}

@media screen and (max-width: 710px) {
  .name {
    margin-top: 5em;
    top: 5em;
  }

  #portfolio #carouselExampleIndicators {
    width: 80vw;
  }

  #contact form #map {
    display: none;
  }
  #contact form .wrapper {
    width: 50vw;
  }
  #contact form input {
    width: 50vw;
    margin: 0;
  }
}
@media screen and (max-width: 400px) {
  header .navbar {
    display: flex;
    justify-content: flex-end;
  }
  header .navbar .fa-1x {
    font-size: 1.5rem;
  }
  header .navbar .navbar-toggler.toggler-example {
    cursor: pointer;
  }
  header .navbar .dark-blue-text {
    color: white;
  }
  header .navbar a:hover {
    color: white;
    font-weight: 800;
  }
  header .navbar .nav-item a {
    color: white;
    display: flex;
    justify-content: flex-end;
  }
  header .defaultnav {
    display: none;
  }
  header .name {
    margin-right: 0;
    margin-left: 1em;
    margin-top: 13.5em;
    font-size: 0.8em;
    position: absolute;
    opacity: 0.8;
    color: white;
  }
  header .sticky {
    position: fixed;
    top: 0;
    opacity: 0.9;
    z-index: 6;
  }
  header .sticky-name {
    margin: 0;
    position: absolute;
    top: 14em;
    left: 1em;
  }

  #portfolio h1 {
    font-size: 4em;
    margin-top: 1em;
    opacity: 1;
  }
  #portfolio #carouselExampleIndicators {
    width: 80vw;
  }

  #contact h1 {
    color: lightcyan;
    opacity: 1;
    font-size: 4em;
  }
  #contact form input {
    width: 70vw;
    padding: 0;
    margin: 0;
  }
  #contact form .wrapper {
    width: 70vw;
    padding: 0;
    margin: 0;
  }
  #contact form .error-message {
    margin: 0.3em 0 0 1.4em;
    width: 60vw;
  }
  #contact form textarea {
    height: 25vh;
    width: 70vw;
  }
}

/*# sourceMappingURL=style.css.map */
